	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>NPR News Feed</h1>
			</div>	
		</div>
		<div class="row feed-wrap">
					<div class="col-xs-2 main-ui">
						<!-- Previous button -->
					</div>
					<div class="col-xs-8 main-ui">
						<div class="row article">
							<div class="col-xs-12"><!-- Article content --></div>
						</div>
						<div class="row  comment">
							<div class="col-xs-12"><!-- Article comment --></div>
						</div>				
					</div>
					<div class="col-xs-2 main-ui">
						<!-- Next button -->
					</div>	
		</div>
		<div class="row comment-wrap">
				<div class="col-xs-12">
				<!-- Comment text entry -->
				</div>
		</div>	
	</div>


<script type="text/javascript" src="app.js"></script>